@import url("https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playwrite IT Moderna", cursive;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  /* background: #E5DADD; */
  background: #f6f8fb;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #066cdb;
  transform: scale(1.01);
}

p {
  margin-top: 15px;
}
